<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        #loading .svg-icon-loader {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -50px 0 0 -50px;
        }
    </style>

    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title> <%= htmlWebpackPlugin.options.title %> </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Google Login and Sign up -->
    <meta name="google-signin-client_id" content="834482908105-i9mt977u9daiibais0c24tt8ec0rs0ji.apps.googleusercontent.com">

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= htmlWebpackPlugin.options.path %>assets/images/icons/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= htmlWebpackPlugin.options.path %>assets/images/icons/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= htmlWebpackPlugin.options.path %>assets/images/icons/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="<%= htmlWebpackPlugin.options.path %>assets/images/icons/apple-touch-icon-57-precomposed.png">
    <link rel="icon" href="http://www.fitobe.com/assets/css/img/favicon.png" type="image/png">


    <!-- Login and Sign up -->
    <!-- <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>style/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/logincss/agency.style.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/logincss/custom.css"> -->

    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.path %>style/style_origin/style.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>css/sweetalert.css">

    <!-- HELPERS -->
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/helpers/animate.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/helpers/boilerplate.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/helpers/border-radius.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/helpers/grid.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/helpers/page-transitions.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/helpers/spacing.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/helpers/typography.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/helpers/utils.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/helpers/colors.css">

    <!-- MATERIAL -->
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/material/ripple.css">

    <!-- ELEMENTS -->
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/elements/badges.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/elements/buttons.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/elements/content-box.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/elements/dashboard-box.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/elements/forms.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/elements/images.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/elements/info-box.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/elements/invoice.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/elements/loading-indicators.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/elements/menus.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/elements/panel-box.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/elements/response-messages.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/elements/responsive-tables.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/elements/ribbon.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/elements/social-box.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/elements/tables.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/elements/tile-box.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/elements/timeline.css">

    <!-- ICONS -->
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/icons/fontawesome/fontawesome.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/icons/linecons/linecons.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/icons/spinnericon/spinnericon.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/icons/iconic/iconic.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/icons/elusive/elusive.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/icons/meteocons/meteocons.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/icons/typicons/typicons.css">

    <!-- WIDGETS -->
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/accordion-ui/accordion.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/calendar/calendar.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/carousel/carousel.css">

    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/charts/justgage/justgage.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/charts/morris/morris.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/charts/piegage/piegage.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/charts/xcharts/xcharts.css">

    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/chosen/chosen.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/colorpicker/colorpicker.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/datatable/datatable.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/datepicker/datepicker.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/datepicker-ui/datepicker.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/dialog/dialog.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/dropdown/dropdown.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/dropzone/dropzone.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/file-input/fileinput.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/input-switch/inputswitch.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/input-switch/inputswitch-alt.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/ionrangeslider/ionrangeslider.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/jcrop/jcrop.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/jgrowl-notifications/jgrowl.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/loading-bar/loadingbar.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/maps/vector-maps/vectormaps.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/markdown/markdown.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/modal/modal.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/multi-select/multiselect.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/multi-upload/fileupload.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/nestable/nestable.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/noty-notifications/noty.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/popover/popover.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/pretty-photo/prettyphoto.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/progressbar/progressbar.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/range-slider/rangeslider.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/slidebars/slidebars.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/slider-ui/slider.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/summernote-wysiwyg/summernote-wysiwyg.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/tabs-ui/tabs.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/timepicker/timepicker.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/tocify/tocify.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/tooltip/tooltip.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/touchspin/touchspin.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/uniform/uniform.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/wizard/wizard.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/xeditable/xeditable.css">

    <!-- SNIPPETS -->
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/snippets/chat.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/snippets/files-box.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/snippets/login-box.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/snippets/notification-box.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/snippets/progress-box.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/snippets/todo.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/snippets/user-profile.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/snippets/mobile-navigation.css">

    <!-- APPLICATIONS -->
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/applications/mailbox.css">

    <!-- Admin theme -->
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/themes/admin/layout.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/themes/admin/color-schemes/default.css">

    <!-- Components theme -->
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/themes/components/default.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/themes/components/border-radius.css">

    <!-- Admin responsive -->
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/helpers/responsive-elements.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/helpers/admin-responsive.css">

    <!-- Login and Sign up -->
    <!-- <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/logincss/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/logincss/header-style.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/logincss/animate.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/logincss/agency.style.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/logincss/custom.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/logincss/mainsection.css">    -->
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>css/googleButton.css">
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>css/forget.css">

    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/frontend-elements/pricing-table.css">

    <script type="text/javascript" src="http://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=1482615498713461"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!-- JS Core -->
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/js-core/jquery-core.js"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/js-core/jquery-ui-core.js"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/js-core/jquery-ui-widget.js"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/js-core/jquery-ui-mouse.js"></script>
<!-- new
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/js-core/jquery-3.1.0.js"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/js-core/jquery-ui.min.js"></script>
-->
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/js-core/jquery-ui-position.js"></script>

    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/js-core/transition.js"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/js-core/modernizr.js"></script>
<!-- new
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/js-core/transition-3.3.7.js"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/js-core/modernizr-custom.js"></script>
  -->
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/js-core/jquery-cookie.js"></script>

    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.path %>assets/logincss/agency.style.css">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.path %>assets/logincss/custom.css">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.path %>assets/logincss/sign-up-custom.css">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.path %>assets/logincss/amazeui.css">
    <script src="<%= htmlWebpackPlugin.options.path %>assets/loginjs/amazeui.js"></script>

    <script type="text/javascript">
        $(window).load(function() {
            setTimeout(function() {
                $('#loading').fadeOut(400, "linear");
            }, 300);
        });
    </script>

    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/datepicker/datepicker.js"></script>
    <script type="text/javascript">
        /* Datepicker bootstrap
        $(function() { "use strict";
            $('.bootstrap-datepicker').bsdatepicker({
                format: 'yyyy-mm-dd'
            });
        });
        */
    </script>
</head>

<body>
  <script>
  function onLoad(){
    gapi.load('auth2', function() {
          gapi.auth2.init();
    });
  }
  </script>
  <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

  <!-- Bootstrap Modal -->
  <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/modal/modal.js"></script>

    <!-- Boostrap Tabs -->
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/tabs/tabs.js"></script>

    <!-- 表單元素相關 -->

    <!-- jQueryUI Spinner
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/spinner/spinner.js"></script>
  -->
    <script type="text/javascript">
        /* jQuery UI Spinner
        $(function() {
            "use strict";
            $(".spinner-input").spinner();
        });
        */
    </script>

    <!-- jQueryUI Autocomplete

    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/autocomplete/autocomplete.js"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/autocomplete/menu.js"></script>
    -->
<!-- d
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/autocomplete/autocomplete-demo.js"></script>
-->
    <!-- Touchspin -->

    <!--<link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/touchspin/touchspin.css">-->
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/touchspin/touchspin.js"></script>
<!-- d
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/touchspin/touchspin-demo.js"></script>
-->

    <!-- Input switch -->

    <!--<link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/input-switch/inputswitch.css">-->
    <!--
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/input-switch/inputswitch.js"></script>
  -->
    <script type="text/javascript">
        /* Input switch
        $(function() {
            "use strict";
            $('.input-switch').bootstrapSwitch();
        });
        */
    </script>

    <!-- Textarea -->
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/textarea/textarea.js"></script>
    <script type="text/javascript">
        /* Textarea autoresize
        $(function() {
            "use strict";
            $('.textarea-autosize').autosize();
        });
        */
    </script>

    <!-- Multi select -->
    <!--<link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/multi-select/multiselect.css">-->
    <!--
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/multi-select/multiselect.js"></script>
    -->
    <script type="text/javascript">
        /* Multiselect inputs
        $(function() {
            "use strict";
            $(".multi-select").multiSelect();
            $(".ms-container").append('<i class="glyph-icon icon-exchange"></i>');
        });
        */
    </script>

    <!-- Uniform -->
    <!--<link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/uniform/uniform.css">-->
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/uniform/uniform.js"></script>
<!-- d -->
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/uniform/uniform-demo.js"></script>


    <!-- Chosen -->
    <!--<link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/chosen/chosen.css">-->
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/chosen/chosen.js"></script>
<!-- d
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/chosen/chosen-demo.js"></script>
-->
    <!-- jQueryUI Datepicker -->
    <link rel="stylesheet" type="text/css" href="<%= htmlWebpackPlugin.options.path %>assets/widgets/datepicker-ui/datepicker.css">
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/datepicker-ui/datepicker.js"></script>
<!--
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/datepicker-ui/datepicker-demo.js"></script>
-->
    <!-- jGrowl notifications -->
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/jgrowl-notifications/jgrowl.js"></script>

    <!-- Data tables -->
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/datatable/datatable.js"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/datatable/datatable-bootstrap.js"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/datatable/datatable-responsive.js"></script>
    <script type="text/javascript">
       /* Datatables responsive */
       $(document).ready(function() {
           $('#responsive').DataTable( {
               responsive: true
           } );
       } );

    </script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/datatable/datatable-fixedcolumns.js"></script>

    <!-- Loading bar -->
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/loading-bar/loadingbar.js"></script>
<!--
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/loading-bar/loadingbar-demo.js"></script>
-->
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/daterangepicker/moment.js"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/calendar/calendar.js"></script>

    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/interactions-ui/resizable.js"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/interactions-ui/draggable.js"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/interactions-ui/sortable.js"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/interactions-ui/selectable.js"></script>

    <div id="sb-site">
        <div id="loading">
            <div class="svg-icon-loader">
                <img src="<%= htmlWebpackPlugin.options.path %>img/new_leaf.gif" width="120" alt="">
            </div>
        </div>

        <div id="container"></div>

        <!-- WIDGETS -->

        <!-- Bootstrap Dropdown -->
        <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/dropdown/dropdown.js"></script>

        <!-- Bootstrap Tooltip -->
        <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/tooltip/tooltip.js"></script>

        <!-- Bootstrap Popover -->
        <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/popover/popover.js"></script>

        <!-- Bootstrap Progress Bar -->
        <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/progressbar/progressbar.js"></script>

        <!-- Bootstrap Buttons -->
        <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/button/button.js"></script>

        <!-- Bootstrap Collapse -->
        <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/collapse/collapse.js"></script>

        <!-- Superclick
        <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/superclick/superclick-1.1.0.js"></script>
         -->
        <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/superclick/superclick.js"></script>
        <!-- Input switch alternate -->
        <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/input-switch/inputswitch-alt.js"></script>

        <!-- Slim scroll -->
        <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/slimscroll/slimscroll.js"></script>

        <!-- Slidebars -->
        <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/slidebars/slidebars.js"></script>
<!-- d
        <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/slidebars/slidebars-demo.js"></script>
-->
        <!-- PieGage -->
        <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/charts/piegage/piegage.js"></script>
        <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/charts/piegage/piegage-demo.js"></script>

        <!-- Screenfull
        <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/screenfull/screenfull.js"></script>
-->
        <!-- Content box -->
        <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/content-box/contentbox.js"></script>

        <!-- Material -->
        <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/material/material.js"></script>
        <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/material/ripples.js"></script>

        <!-- Overlay -->
        <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/widgets/overlay/overlay.js"></script>

        <!-- Widgets init for demo
        <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/js-init/widgets-init.js"></script>
-->
        <!-- Theme layout -->
        <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>assets/themes/admin/layout.js"></script>

        <!-- <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>js/vendors.js"></script>
        <script type="text/javascript" src="<%= htmlWebpackPlugin.options.path %>js/<%= htmlWebpackPlugin.options.indexJs %>"></script> -->

  </div>

</body>

</html>
